* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active,
a,
a:visited,
a:hover {
  outline: none;
  text-decoration: none;
  color: white;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: rgb(40, 40, 40);
}

.ant-algorithm {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 75px;
}
.ant-algorithm__sheet {
  position: relative;
  cursor: pointer;
  background-color: rgb(70, 70, 70);
  width: 450px;
  height: 450px;
}
.ant-algorithm__panel {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.ant-algorithm__button {
  font-size: 18px;
  border: 1px solid rgb(100, 100, 100);
  border-radius: 3px;
  color: white;
}
.ant-algorithm__input {
  padding-left: 5px;
  color: white;
  height: 25px;
  width: 100%;
  background-color: rgb(100, 100, 100);
}
.ant-algorithm__label {
  font-size: 18px;
  color: white;
}
.ant-algorithm__point {
  z-index: 2;
  background-color: white;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
}
.ant-algorithm__line {
  position: absolute;
  transform-origin: 0 0;
  background-color: black;
  height: 3px;
  border-radius: 1px;
}
.ant-algorithm__index {
  z-index: 2;
  position: absolute;
  transform-origin: 0 0;
  font-size: 18px;
  color: white;
}
.ant-algorithm__text {
  color: white;
  font-size: 20px;
  text-align: center;
}