* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active,
a,
a:visited,
a:hover {
  outline: none;
  text-decoration: none;
  color: white;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: rgb(40, 40, 40);
}

.clustering {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 75px;
}

.clustering__sheet {
  position: relative;
  cursor: pointer;
  background-color: rgb(70, 70, 70);
  width: 450px;
  height: 450px;
}

.clustering__label {
  font-size: 18px;
  color: white;
}
.clustering__point {
  background-color: white;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.clustering__point div {
  flex: 1 1 50%;
}

.Options_block {
  flex-direction: column;
}
.canvas_block {
  position: relative;
  cursor: pointer;
  background-color: rgb(70, 70, 70);
  width: 450px;
  height: 450px;
}

@media screen and (max-width: 800px) {
  .canvas_block {
    width: 320px;
    height: 320px;
  }
}
@media screen and (max-width: 500px) {
  .canvas_block {
    width: 330px;
    height: 330px;
  }
  .clustering__sheet {
    position: relative;
    cursor: pointer;
    background-color: rgb(70, 70, 70);
    width: 330px;
    height: 330px;
  }
}
.clustering {
  flex-wrap: wrap;
}
